/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* Layout */
:root {
  --primary: #FF0000;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins", sans-serif; /* Added the fallback sans-serif font */
}

header {
  background: #fff;
}

header .container {
  max-width: 100%; /* Adjusted to make the container fluid for smaller screens */
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 100%; /* Adjusted to make the pages container fluid */
  padding: 20px;
  margin: 0 auto;
}

/* Homepage */
.home {
  display: grid;
  grid-template-columns: 1fr; /* Changed to a single column layout on smaller screens */
  gap: 20px; /* Reduced the gap for better spacing on smaller screens */
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000; /* Background color for the top bar */
  padding: 10px;
  color: #fff; /* Text color */
  vertical-align: top; /* here */
  height: 50px;
}

.navbar .nbar{
  padding-left: 800px;
}
.navbar .nbar ul {
  list-style-type: none;
  float: left;
  display: inline;
  color: rgb(0, 0, 0);
  text-decoration: none;
  overflow: hidden;
}
.navbar .nbar li{
  float:left;
}
.navbar .nbar li a{
  color: rgb(249, 234, 234);
  display: inline-block;
  padding: 14px;
  text-decoration: none;
}
.navbar .nbar a:hover {
text-decoration: underline;
color: rgb(255, 255, 255);
}

.bottom-bar {
  background-color: #000;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: #fff; /* Text color */
  vertical-align: bottom;
}




/* Responsive layout changes */
@media only screen and (max-width: 768px) {
  .vlogo img {
    max-width: 100%; /* Ensure images do not exceed the width of their container */
    height: auto; /* Maintain the aspect ratio of the images */
    display: block; /* Remove any extra spacing below the image */
    margin: 0 auto; /* Center the images within their container */
  }

  .vitlogo img {
    max-width: 100%; /* Ensure images do not exceed the width of their container */
    height: auto; /* Maintain the aspect ratio of the images */
    display: block; /* Remove any extra spacing below the image */
    margin: 0 auto; /* Center the images within their container */
  }

}